<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historical Matrix</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <nav class="container">
        <ul>
            <li><a href="/">Main Dashboard</a></li>
            <li><a href="/matrix">Historical Matrix</a></li>
        </ul>
    </nav>
    <main class="container">
        <h1>Historical Matrix</h1>

        <figure>
            <canvas id="challengeChart"></canvas>
        </figure>

        <table id="matrix-table">
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>
    </main>

    <script src="/static/js/matrix.js"></script>
</body>
</html>